use Mix.Config

# Configure your database
config :dblog, dblog,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "dblog_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox

